<form id="createUserForm">
  <label>
    Nombre <input type="text" name="name" id="formName">
  </label>
  <label>
    Apellido <input type="text" name="lastname" id="formLastname">
  </label>
  <label>
    Correo <input type="email" name="email" id="formEmail">
  </label>
  <label>
    Contraseña <input type="password" name="password" id="formPass">
  </label>

  <button type="submit">Crear usuario</button>
</form>

<p id="response"></p>

<script src="/js/createUser.js"></script>